/* Basic CSS Reset */
:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

@font-face {
  font-family: "Della Respira";
  src: url("/fonts/DellaRespira-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mrs Saint Delafield";
  src: url("/fonts/MrsSaintDelafield-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABC Diatype Mono";
  src: url("/fonts/ABCDiatypeMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

.script {
  font-family: "Mrs Saint Delafield", cursive;
  text-transform: capitalize;
  font-size: var(--step-4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Della Respira", serif;
  background: #effdff;
  color: #0055dd;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: -0.005em;
  line-height: 1;
}
/* Heading scale using your --step variables */
h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
h5 {
  font-size: var(--step-1);
}
p {
  font-size: 0.8rem;
  font-family: "ABC Diatype Mono", monospace;
  line-height: 1.2;
  max-width: 55ch;
  text-transform: uppercase;
}
